*{
    font-family: "IBM Plex Mono", monospace;
    text-decoration: none;
}
body{

    background-image: url(bgg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px ;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    
}


#header .logo img {
    display: block;
}

.menu {
    
  display: flex;
  gap: 30px;}

.bar{
   text-decoration: none;
    color: black;
    font-size: 25px;
    margin-left: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 1px 2px;
}

.bar:hover {
    color:rgb(84, 159, 162);
    font-size: 25px;
    box-shadow: 10px 3px 1px;
}



#add_property{
    background-color:rgb(84, 159, 162);
    border: 20px;
    border-radius: 14px;
    color: white;
    font-size: 30px;
    padding:5px;
    margin-top: 25px;
    
}


#home{
    display: flex;
    justify-content: start;
    align-items: center;
}

#Add{
    color: white;
    font-size: 24px;
}

#main{
    background-image:url('home_bg.jpg');    
    background-size: cover;
    background-position: center;
    font-size: 30px;
    color: white;
    padding-left: 20px;
    padding-top: 100px;
    text-shadow: .5px .5px .5px black;
}


#steps{
    padding-top: 150px;
}

.steps{
    display: grid;
    grid-template-columns: 30fr 30fr;
    gap: 15px;
    padding: 10px 40px 40px 40px;
    
}

.step{
    box-shadow: 2px 1px 2px;
    /* padding-left:1 ; */
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.step:hover{
    box-shadow: 10px 3px 1px rgb(0, 0, 0);
}

.type{

    background-color:rgb(84, 159, 162);
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 40px;
    align-items: start;
}



.category{

    border: 2px solid black;
    box-shadow: 2px 1px 2px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.category:hover{
    box-shadow: 10px 3px 1px rgb(0, 0, 0);
}

.underline {
    width: 135px;
    height: 5px;
    background-color: red;
    margin-top: 10px;
}


@media (max-width: 600px) {

    #header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .menu {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
    }

    .bar {
        font-size: 18px;
    }

    #main {
        font-size: 20px;
        padding: 40px 15px;
    }

    #add_property {
        width: 100%;
        justify-content: center;
        font-size: 20px;
    }

    .steps {
        grid-template-columns: 1fr; 
    }

    .type {
        grid-template-columns: 1fr; 
        text-align: center;
    }

    .type > div:first-child {
        text-align: center;
    }
}